# Dependencies
node_modules/
ci-dashboard-react/node_modules/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Env files
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# Build outputs
dist/
build/
